<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sale.dao.sale.TpartyMapper">
  <resultMap id="BaseResultMap" type="com.example.sale.model.Tparty">
    <result column="party" jdbcType="VARCHAR" property="party" />
  </resultMap>

  <insert id="insert" parameterType="com.example.sale.model.Tparty">
    insert into t_party (party)
    values (#{party,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.example.sale.model.Tparty">
    insert into t_party
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="party != null">
        party,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="party != null">
        #{party,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from t_party
  </select>

  <select id="selectByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT party FROM t_party
    WHERE party LIKE CONCAT('%',#{key},'%')
    ORDER BY party ASC
    LIMIT 100
  </select>

  <select id="selectCountByKey" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT COALESCE(COUNT(party), 0) FROM t_party WHERE party LIKE CONCAT('%',#{key},'%')
  </select>
</mapper>